.first-box-container {
  width: 200px;
  height: 130px;
  padding-top: 50px;
  color: blue;
  text-transform: uppercase;
  text-align: center;
  font-family: arial;
  font-size: 16px;
  background-color: red;
  border-style: solid;
  border-width: 10px;
  border-color: green;
  position: absolute;
}

.second-box-container {
  width: 200px;
  height: 180px;
  color: blue;
  text-transform: uppercase;
  line-height: 120px;
  text-align: center;
  font-family: arial;
  font-size: 16px;
  background-color: yellow;
  border-style: solid;
  border-width: 10px;
  border-color: red;
  position: absolute;
  left: 250px;
}

.third-box-container {
  width: 200px;
  height: 180px;
  color: blue;
  text-transform: uppercase;
  line-height: 120px;
  text-align: center;
  font-family: arial;
  font-size: 16px;
  background-color: green;
  border-style: solid;
  border-width: 10px;
  border-color: yellow;
  position: absolute;
  left: 500px;
}
